<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://dl.dropbox.com/s/btfbrz9jf2889co/css.css" rel="stylesheet" type="text/css" />
    <!--<link href="./../static/css/css.css" rel="stylesheet" type="text/css" />-->
    <link rel="icon" href="data" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<div font-size="70px">
    <div id="header">會員資料
        <p>會員編號: {{ userid }}</p>
        <p>會員姓名: {{ username }}</p>
        <p>會員信箱: {{ email }}</p>
        <p>會員照片: {{ photocert }}</p>
    </div>
    <!--<div>-->
        <!--購買紀錄-->
        <!--{% for list in buylists %}-->
        <!--<div>{{ list }}</div>-->
        <!--{% endfor %}-->

    <!--</div>-->
</div>
</center>
</body>
</html>